<div class="container-fluid no-print bgColor" >
    <div class=" mt-2 navbar-custom">
       
            <ul class="marginL"> 
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <div class="row">
                        <div class="col-sm-2">
                     
                             <img class="pl-0 logoClass"  src="../../assets/ads_logo.png" >
                        </div>
                        <div class="col-sm-1 mt-3">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img class="pr-3 pl-0" width="30rem" src="../../assets/home.png" >
                                    </div>
                                    <div class="col-sm-9">
                                      Home
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-1 mt-3">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img class="pr-3 pl-0" width="30rem" src="../../assets/users.png" >
                                        </div>
                                        <div class="col-sm-9">
                                          Trustees
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-1 mt-3">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img class="pr-3 pl-0" width="30rem" src="../../assets/userNew.png" >
                                            </div>
                                            <div class="col-sm-9 brown">
                                              Professionals
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 mt-3">
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-2">
                                                <img class="pr-3 pl-0" width="30rem" src="../../assets/more.png" >
                                                </div>
                                                <div class="col-sm-6">
                                                  More
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-2 mt-2">
                                            <div class="row">
                                            
                                                <div class="col-sm-2">
                                                    <img class="pr-3 mt-1 pl-0" width="40rem" src="../../assets/search.png" >
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-sm example-full-width
                                                         " type="button"  mat-raised-button>
                                                        <img class="pr-1 pl-0" width="20rem" src="../../assets/emailWhite.png" >
                                                          Invite
                                                         
                                                      </button>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <img class="pr-3 pl-0" width="50rem" src="../../assets/profilePic.jpg" >
                                                        </div>
                                                </div>
                                            </div>
                       
                    </div>
                  
                  </li>
                 

                
            </ul> 
        
          
    </div>
</div>
