<div class="container-fluid no-print bgColor" >
    <div class=" mt-2 navbar-custom">
       
            <ul class="marginL"> 
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <div class="row">
                        <div class="col-sm-12">
                     
                             <img class="pr-3 pl-0 logoClass"  width="120rem" src="../../assets/logo.png" >
                        </div>
                       
                       
                    </div>
                  
                  </li>
                  <li>
                  <div class="row">
                    <div class="col-sm-6">
                        <img class="pr-3 pl-0 logoClass" width="20rem" src="../../assets/home.png" >
                        </div>
                        <div class="col-sm-6">
                          Home
                            </div>
                    </div>
                    </li>
                    
                
            </ul> 
        <ul class="top-right float-end">
       
                
                <li>
              <div class="  text-right right">
               
            <img class="pr-3 "  width="200rem" height="60rem" src="../../assets/audiology.png">
               <img class="roundedcirle pb-2 pt-2" src="../../assets/user.png" alt="Amanda Wilson" width="50rem">
             </div>
        </li>
                
        <li>
            <div routerLinkActive="active" class="nav-item dropdown ">
                <a class="nav-link " href="javascript:;" id="navbarDropdownProfile"  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                
                </a> 
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a  class="dropdown-item" href="#">Profile </a>
                  <a class="dropdown-item" href="#" (click)="logout();">Logout </a>
                
                </div>
                
            </div>
            
                
                </li>
                </ul>
          
    </div>
</div>
