<div class="container-fluid bgcolor2" [formGroup]="dashboardForm" >
    <form [formGroup]="dashboardForm" autocomplete="off" novalidate>  
    <div class="row">
    
        <div class="col-sm-12">
     <div class="row ">
            <div class="col-sm-12 pr-4">
                <div class="row">
                    <div class="card divbody  col-sm-3 mb-3 borderradius p-1">
                       
                        <div class="col-sm-12">
                            <div class="row">
                              
                              <div class="col-sm-12 mt-1">
                                <div class="col-sm-12 ">
                                  <img class=" img2 frame  " src="../../assets/user2.png" alt="Amanda Wilson" 
                                  width="500rem">
                                  </div>
                                  <div class="col-sm-12 ">
                                    <label>Jone Smith</label>
                                    <label>CFA, CIC</label>
                                    <label>Premium member</label>
                                    <label>Insurance Agent,Attorney,Accountant</label>
                                  </div>
                                  <div class="col-sm-12 ">
                                    <label>Send a Email</label>
                                    </div>
                              </div>
                             
                            </div>
                           
                        </div>
                    </div>
                    <div class="card divbody  col-sm-9 mb-3 borderradius p-1">
                       
                      <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-12 card card2">
                              <label>Business Details</label>
                              </div>
                            <div class="col-sm-12 mt-1">
                              <div class="card divbody col-sm-6 mb-3 borderradius p-1">
                                <div class="row">
                                <div class="col-sm-6">
                                  <label>Profile</label>
                                </div>
                                <div class="col-sm-6">
                                  <button type="button" class="btn btn-primary btn-sm example-full-width" 
                                  
                               >Edit Profile </button>
                                </div>
                                <div class="col-sm-6">
                                  <label>Name :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>Mary,Jason & Hodge of Attorney </label>
                                </div>
  
                                <div class="col-sm-6">
                                  <label>Domain :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>www.mjhattorenys.com</label>
                                </div>
  
                                <div class="col-sm-6">
                                  <label>Gender :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>Male</label>
                                </div>
  
                                <div class="col-sm-6">
                                  <label>Date of Birth :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>8th June 1979</label>
                                </div>
  
                                <div class="col-sm-6">
                                  <label>Phone Number :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>+8654321234</label>
                                </div>
  
                                <div class="col-sm-6">
                                  <label>Location :</label>
                                </div>
                                <div class="col-sm-6">
                                  <label>12 street,Silicon Valley,Avenue NE,Huntsville</label>
                                </div>
  
                              
                                </div>
                                </div>
                            </div>
                           
                          </div>
                         
                      </div>
                  </div>
                </div>
            </div>
          </div>
         
         
     
    </div>
      </div>
      </form>
    </div>
     