<div class="col-sm-12" [formGroup]="editForm">
    <div class="row">
       
        <div class="col-sm-11">
            <h1 class="titlecolor" >  Edit Profile</h1>  
        </div>
        
      
        <div class="col-sm-1">
          <div class="page-title-right row justify-content-end mt-1 d-flex align-items-center float-end">
            <a (click)="popUpClose()" matTooltip="Close" class="d-flex align-items-center pr-2 mt-2"><span class="material-symbols-outlined pr-2">close</span></a>
            </div>
        </div> 
       
    </div>
</div>
